.tags{
  .title{
    text-align: center;
    background-color: $gray-lighter;
  }
  .list{
    a{
      display: inline-block;
      margin-right: 5px;
      color: $link-color;
    }

    a:hover{
      color: $hover-color;
    }
  }

  .count{
    color: $primary-color;
  }

  #tagContainer{
    height: 250px;
    width: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  #tagContainer a{
    font-size: 14px;
    position: absolute;
    color: teal;
  }
}
