.share {
	margin-top: 12px;
	float: right;
	font-size: 12px;
}

.share a:hover{
	font-style: normal;
	text-decoration: none;
}

.share .icon {
	font-size: 24px;
	margin: 8px;
	color:#333;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

.share .icon:hover{
	font-size: 32px;
	font-style: normal;
	text-decoration: none;
	margin: 0px;
}