<nav class="navbar navbar-pithy" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#pithy-navbar" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}/">Moilk blog</a>
    </div>

    <div class="collapse navbar-collapse" id="pithy-navbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://duras.wang/"><img src="{{site.baseurl}}/assets/images/px16/home.png"  alt="主页" />主页</a></li>
            <li class="active"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/px16/blog.png"  alt="博客" />博客</a></li>
            <li class="active"><a href="http://duras.wang/project.html"><img src="{{site.baseurl}}/assets/images/px16/code.png"  alt="项目" />项目</a></li>
            <li class="active"><a href="http://duras.wang/about"><img src="{{site.baseurl}}/assets/images/px16/about.png"  alt="关于" />关于</a></li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
