<!--官方JS引入-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl}}/assets/script/pithy.js"></script>

<!-- 代码高亮 -->
<link rel="stylesheet" href="{{site.baseurl}}/assets/script/prettify/prettify.css">
<script src="{{site.baseurl}}/assets/script/prettify/prettify.js"></script>
<script type="text/javascript">
  $(function(){
    $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
    prettyPrint();
  });
</script>
<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

{% for script in page.scripts %}
  <script type="text/javascript" src="{{'/assets/script/' | append: script | prepend: site.baseurl }}"></script>
{% endfor %}
