<div class="share">分享到:
	<a href="javascript:share.qq();"><i class="icon iconfont">&#xe6a5;</i></a>
	<a href="javascript:share.weibo();"><i class="icon iconfont">&#xe6b0;</i></a>
	<a href="javascript:share.weixin();"><i class="icon iconfont">&#xe6b1;</i></a>
	<a href="javascript:share.qzone();"><i class="icon iconfont">&#xe6a0;</i></a>
	<a class="sharetotqq" href="javascript:;"><i class="icon iconfont">&#xe6a2;</i></a>
	<a href="javascript:share.renren();"><i class="icon iconfont">&#xe696;</i></a>
	<a href="javascript:share.douban();"><i class="icon iconfont">&#xe796;</i></a>
</div>

<script src="{{site.baseurl}}/assets/script/simple-share.min.js"></script>
<script>
	var share = new SimpleShare({
		url: '',
		title: '',
		content: '',
		pic: ''
	});
	document.querySelector('.sharetotqq').addEventListener('click',function() {
		share.tqq();
	});
</script>