.navbar-pithy {
  min-height: 40px;
  background-color: $gray-dark;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px $gray-darker;

  .navbar-brand {
    height: 40px;
    padding: 8px 12px;

    color: $gray-lightest;
  }

  .navbar-brand:hover{
    color: $blue;
  }

  .navbar-form {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;
    line-height: 20px;
    border: none;
  }

  .navbar-nav > li > a:hover {
      background-color: $gray-light;
  }

  .navbar-toggle{
    margin-top: 4px;
    margin-bottom: 0;
    padding:5px 10px;
    background: $gray;
    color: $white;
  }
  .navbar-toggle:hover {
    background: $gray-darkest;
  }
}
