.pagination-posts{
  margin-top: 0;
  margin-bottom: 0;

  li>a{
    color: black;
    border-color: #695c76;
  }

  .active>span,
  .active>span:focus,
  .active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #695c76;
    border-color: #E3E3E3;
    border-right-color: #695c76;
    border-bottom-color: #695c76;
  }
  li>a:hover{
    color:white;
    background-color: green;
    border-color: green;
  }
}