.pagination-posts{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.pagination-posts li a {
  color: black;
  border-color: #695c76;
}

.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #695c76;
  border-color: #E3E3E3;
  border-right-color: #695c76;
}
.pagination-posts li a:hover{
  color:white;
  background-color: green;
  border-color: green;
}